div{
        background-color: #029494;
        color: #fdf5f5;
        display: block;
        width: 200px;
        height: 120px;
        overflow: auto;
        padding: 10px;
        border: solid 4px black;
        margin: 15px;
        box-sizing: border-box;
}

#a{
    background-color: red;
}
#b{
    background-color: blue;
    padding: 20px 10px 5px 0px;
    float: right;
    position: relative;
    top: 0px;
    left: 0px;
}
#c{
    background-color: pink;
}